<header>
    <h2>Student Societies</h2>
    <div class="alert"><%- message %></div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/societies">View All</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
    </nav>
</header>