<!DOCTYPE html>
<html lang="en">
<!--following html elements will live here-->
<%- include('common/head', {title : "Create"}) %>

<body>
    <%- include('common/header', {message : message}) %>
    <%- include('common/banner', {title : "Create Society"}) %>
    <div class="view">
        <form class="info" method="post" enctype="multipart/form-data">
            <h1> Create Society </h1>
            <label for="title"> Society Title: </label>
            <input type="text" name="Soc_Title" id="title" required>
            <label for="email"> Email: </label>
            <input type="text" name="Soc_Email" id="email">
            <label for="fee">Membership Fee:</label>
            <input type="number" min="0.00" max="99.99" name="Soc_MembershipFee" id="fee" pattern="\d{1,3}(.\d\d)?" placeholder="£0.00">
            <label for="image">Image</label>
            <input type="file" id="image" name="image" accept=".jpg" required>
            <input type="submit" value="Submit" id="submit">
        </form>
    </div>
    <%- include('common/footer') %>
</body>

</html>